body{
  font-family: "Courier New", Courier;
  background-image: url("background4.jpg");
}

.container{
  width:500px; 
  margin:auto;
}

#back{
  background-color:blue;
  position:absolute;
  z-index:1;
}

#myCanvas{
  position:absolute;
  z-index:1;
}

.box-1{
  background-color:#333;
  color:#fff;
}

h1{
  color:green; 
}
